@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: white;
}

body {
  padding: 0;
  margin: 1rem;
  box-sizing: border-box;
  background-color: var(--veryLightGray);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

header {
  text-align: center;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
}

.heading {
  font-size: 2rem;
  margin-top: 0;
}

p {
  color: var(--grayishBlue);
}

h3 {
  font-size: 1.2rem;
}

/* 🔢 Grid */
.grid {
  display: grid;
  grid-template-areas: "one" "two" "three" "four";
}

.grid > .card:nth-child(1) {
  grid-area: one;
  grid-row-start: 2;
  border-top: 8px solid var(--cyan);
}
.grid > .card:nth-child(2) {
  grid-area: two;
  border-top: 8px solid var(--red);
}
.grid > .card:nth-child(3) {
  grid-area: three;
  border-top: 8px solid var(--orange);
}
.grid > .card:nth-child(4) {
  grid-area: four;
  grid-row-start: 2;
  border-top: 8px solid var(--blue);
}

/* 🎴 Card */
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem 2rem;
  box-shadow: hsla(234, 12%, 34%, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card > p {
  padding-right: 2rem;
}

img {
  width: 60px;
  padding-top: 1rem;
  align-self: flex-end;
}

/* 👣 Footer */
.attribution {
  padding-top: 2rem;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 📱 Media Query */

/* Desktop 💻 */
@media only screen and (width >= 1165px) {
  .grid {
    grid-template-areas: "one two four" "one two four" "one three four" "one three four";
  }

  /* moved width and height property to fix the grid area stretch issue */
  .card {
    width: 358px;
    height: 250px;
  }

  .para {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}

/* Mobile 📱 */

@media only screen and (width <= 1165px) {
  .card {
    max-width: 358px;
    height: 250px;
  }

  .grid > .card:nth-child(1),
  .grid > .card:nth-child(4) {
    grid-row-start: auto;
  }

  .para {
    margin: 0 1rem;
    padding-bottom: 2rem;
  }
}
